.bg_background {
  background-image: url("../img/background-1920x1280.jpg");
  background-size: 100% 100%;
}

.btn_custom {
  background: linear-gradient(90deg,#7a19d0,#b32caf);
  padding: 10px 80px;
  border-radius: 35px 8px 35px 8px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.btn_custom:focus {
  outline: none !important;
}

.connect_btn {
  background: linear-gradient(90deg,#7a19d0,#b32caf);
  padding: 5px 40px;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.connect_btn:focus {
  outline: none !important;
}

.mint_background {
  background-image: url("../img/background-1920x1080.jpg");
  background-size: 100% 100%;
}